/* Set the background color for the AnchorPane */
.root {
    -fx-background-color: #d3d3d3;
}

/* Style for TextFields */
.text-field {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 4px;
    -fx-border-color: #ffffff;
    -fx-border-width: 4px;
    -fx-border-radius: 4px;
    -fx-font-size: 13px;
    -fx-font-family: Arial;
}

/* Style for Labels */
.label {
    -fx-font-family: "Arial";
}

/* Style for Buttons */
.button {
    -fx-background-color: #FF5555; /* Red background */
    -fx-background-radius: 5px;
    -fx-text-fill: #FFFFFF; /* White text color */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-cursor: hand;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #521818, #FF5555FF); /* Darker Red on hover */
}

/* Style for ScrollPane */
.scroll-pane {
    -fx-background-color: #ffffff;
}

/* Style for ImageView */
.image-view {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 6, 0, 0, 0);
    -fx-border-radius: 8px; /* Adjust border radius */
}

/* Style for Fonts */
.font {
    -fx-font-family: "Arial Black";
}

/* Style for Sidebar VBox */
.sidebar {
    -fx-background-color: 	#808080; /* Dark grey */
}

/* Style for TableView */
.table-view {
    -fx-background-color: #f4f4f4;
    -fx-font-size: 14px;
}

.table-view .column-header-background {
    -fx-background-color: #932828;
}

.table-view .column-header,
.table-view .table-cell {
    -fx-alignment: center;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #ecf0f1;
}

.table-view .table-row-cell:even {
    -fx-background-color: #d5dbdb;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #932828;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: #932828;
}

/* Style for Supplements */
.supplements-label {
    -fx-font-family: "System Bold";
    -fx-font-size: 15.0;
}

/* Style for Search TextField */
.search {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #521818, #932828);
    -fx-border-radius: 5px;
    -fx-font-size: 13px;
    -fx-font-family: "Arial";
    -fx-border-width: 1px;
    -fx-padding: 0px 0px 0px 28px;
}

.search:focused {
    -fx-border-width: 2px;
}

/* Style for Menu Buttons */
.menu-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #fff;
    -fx-alignment: CENTER-LEFT;
}
